$ball_radius: 40px;

.game__panel{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    
}


.color_ball{
    width: $ball_radius;
    height: $ball_radius;
    border-radius: 50%;
    border: 4px solid white;
    margin: 5px;

    &:active{
        transform: scale(1.1);
    }

}

.empty{
    background-color: gray;
}

.red{
    background-color: red;

}

.blue{
    background-color: blue;

}
.green{
    background-color: green;

}

.yellow{
    background-color: yellow;

}

