body{
    background: rgb(255,250,231);
background: linear-gradient(214deg, rgba(255,250,231,1) 0%, rgba(169,220,255,1) 100%);
    font-family: 'Sen', sans-serif;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;


}